files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIDbjCCAlYCCQCWYI+RP8cbrDANBgkqhkiG9w0BAQsFADB5MQswCQYDVQQGEwJV
UzETMBEGA1UECAwKQ2FsaWZvcm5pYTESMBAGA1UEBwwJU2FuIERpZWdvMR4wHAYD
VQQKDBVQcm9ib3QgUGxheWdyb3VuZCBJbmMxITAfBgNVBAMMGHd3dy5wcm9ib3Rw
bGF5Z3JvdW5kLmNvbTAeFw0xOTEwMDIwOTM0NTBaFw0yMDEwMDEwOTM0NTBaMHkx
CzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRIwEAYDVQQHDAlTYW4g
RGllZ28xHjAcBgNVBAoMFVByb2JvdCBQbGF5Z3JvdW5kIEluYzEhMB8GA1UEAwwY
d3d3LnByb2JvdHBsYXlncm91bmQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEA8PWWdJva9MAuLGpYLMynkV7YVoKqEVwVJy6P/dljN+p8DfEociE9
KSUe5OhKT8L5mGP3thwOc6PFRPuT4hCCmTTc8eHs3ELhS3ZsJycpBipuyS66L3cS
KtbT1PgL6TabtLiFfXJla+SZVa0pId5xuXk8EwaI2OxP9gs+FvjvTdbxZLsSLY+D
3wLSRtgiXRtkNwjkBcrOcs/KQGb/32i3RK6cnM2ZxzgbsiF6Rs8KfQkzGC3lae9z
E162dYDIq2iI9eN9SJCC4aC2OVfgQ1bkshry6wEsKBBO1M22DdBXbGzk47O3oSEr
OhEbfAv39DDOCZ74DfWeR6PJYOrzqcMY0QIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
AQCFugWUqdkxc9qq7rG4GFDYLNMctzE/Vj8GTE+4JrAaEcZ8Zlx3yY8mSvCdtmQ1
kOC/2ljpAAgL/Bz0czC4IpdHNvfERf1FJL1c0EAkFi+w0WeijkUbYltVJgrhRM/s
FrVsQ0ytICEh3es4qV/4AfRn9iKq78ZaNROni9uQdOevGncQDVxc+p3Dhi1M7N0Z
5cJwc6Silrz+6swDFj1FjNLWviOi1bjf7gVMnWMptXTGhKo0Am2TSEH6zWeAMB8J
B4iGstOEEHJ4q7v4Y3RpbNKjp5En3Hm6uagOREShY/fqExUl3yjRmzXR3ftQ5Xk6
jS4JIpSHAIZegeFWYvLti/ct
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEA8PWWdJva9MAuLGpYLMynkV7YVoKqEVwVJy6P/dljN+p8DfEo
ciE9KSUe5OhKT8L5mGP3thwOc6PFRPuT4hCCmTTc8eHs3ELhS3ZsJycpBipuyS66
L3cSKtbT1PgL6TabtLiFfXJla+SZVa0pId5xuXk8EwaI2OxP9gs+FvjvTdbxZLsS
LY+D3wLSRtgiXRtkNwjkBcrOcs/KQGb/32i3RK6cnM2ZxzgbsiF6Rs8KfQkzGC3l
ae9zE162dYDIq2iI9eN9SJCC4aC2OVfgQ1bkshry6wEsKBBO1M22DdBXbGzk47O3
oSErOhEbfAv39DDOCZ74DfWeR6PJYOrzqcMY0QIDAQABAoIBAQCRucUzYqrKCIwk
OnB3L5JL/ZNSxpU6CHmWh7d3q4gw4fQCro1qcKW/g36qq719fYpb2mGOVmt7DlmY
vZmTR67kHy9cbelE0IHWlJkWGL3bx7/Wlhbt69Il7GSSUS1K7sa+RjYdRxkFZmxB
f4b3v8MBi8uEKhiLMGevgt8bH5QCe0Zyq1md7Eco5L4NK2+DVD9h8chXlfkzUSZ/
4gW6WjwSGkq8RJXD/ZmZPH2TEsq7WECbZeu7D3Rj1MJAFwpAfx+e3SZD7SdDIKpV
8+WB2gbzsbGE4PqrZpF/br9f2uplDzoXTyF1xU0TI9luB6TkchSaLdy8yz89FPqy
zL+WOc3dAoGBAPvdB8BkZcTO0ts0FNCt9uYn39Q2cqlSvprMjx2H9kJx6kRYnemg
e7vl65oEH0b1YIKqRgtIbEYtGoZE2gem216AjEqfwUUnCl9OB3FKUnc//dXz9PjV
erhk3CyO5lAqz5uBhGAVzYswiaIqiKQidLgMF3oPYsWTIOFMumJ90KHbAoGBAPTq
tfjlaJ+iB+NFUF1tkq1jmn3kyTQiSw8CUVCPmfGMt6q8pl1JL3mibvfBJM0OU/EX
jX9F7TwVJPVwxhp7x+9aSsUifJxYEc47LW311gcctaBtMqJSzWmz4iwqqxqP7nSE
8gxS967j0ok28miix0XApPIJtXxO0gerw+LxJh3DAoGAQA1vOjuOMiYTM9Ij9Qo4
/0FmyBZsxKkZdk7NmsoIE8/arzUGO/MnZJrNdybTOX2P5Mse8yGg/5va4gjCli2W
Hot8okHMqiSKm8BBXktze4ZXrMDVLS9FfX2RDPfulLa+g6LFopYI5vwaFJbSl0N4
AZJ5qf4dtXd8Zi/YOtIaa/8CgYBLDT3UVuCXwnxuTchRyQkgrxwhpiFuI3Ai2k/2
wvqmxbtmy8ajYZD10iv1Ki/P0qswf0oyDUikl8oqmHNsnC/pjh7JiEbtViOmsgW6
45HBvi9+SNgyW/Nsh94wMKccTa0B8deGpUoXQuM6fycLn443NtCVBxqhTDoada1i
dwl6JwKBgG+80x7U6rnBtN2kC9oxP0rbLkNqvr9jUWzwNFwQFd8R4nmQYjYmQ1Jd
Mk7nxnoNhwMrhkWn0BXcDAgk4hJnixY3g9XQxkjeQjO41+++OdWvopertAvA3nTB
SHWCdgfmvrUQD4JDxD4GqsAjZWQLmUTf0pIwb6KLXbZn8D74jGK0
      -----END RSA PRIVATE KEY-----